<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> <!-- mybatis-3-mapper.dtd에 주목 -->
<mapper namespace="EAIS">

	<insert id="insertData" parameterType="DataVO">
		insert into eais
		(MGM_BLDRGST_PK, BYLOT_CNT, SIGUNGU_CD, REGSTR_KIND_CD, JIGU_CD_NM, REGSTR_KIND_CD_NM, NA_ROAD_CD, NEW_PLAT_PLC, NA_UGRND_CD, REGSTR_GB_CD_NM, BUN, GUYUK_CD_NM, GUYUK_CD, NA_MAIN_BUN, REGSTR_GB_CD, BLD_NM, CRTN_DAY, NA_BJDONG_CD, SPLOT_NM, BLOCK, JIYUK_CD_NM, NA_SUB_BUN, JIYUK_CD, LOT, MGM_UPPER_BLDRGST_PK, JIGU_CD, BJDONG_CD, PLAT_GB_CD, PLAT_PLC, JI)
		values
		(#{MGM_BLDRGST_PK},#{BYLOT_CNT},#{SIGUNGU_CD},#{REGSTR_KIND_CD},#{JIGU_CD_NM},#{REGSTR_KIND_CD_NM},#{NA_ROAD_CD},#{NEW_PLAT_PLC},#{NA_UGRND_CD},#{REGSTR_GB_CD_NM},#{BUN},#{GUYUK_CD_NM},#{GUYUK_CD},#{NA_MAIN_BUN},#{REGSTR_GB_CD},#{BLD_NM},#{CRTN_DAY},#{NA_BJDONG_CD},#{SPLOT_NM},#{BLOCK},#{JIYUK_CD_NM},#{NA_SUB_BUN},#{JIYUK_CD},#{LOT},#{MGM_UPPER_BLDRGST_PK},#{JIGU_CD},#{BJDONG_CD},#{PLAT_GB_CD},#{PLAT_PLC},#{JI})
	</insert>

	<insert id="insertDataSet" parameterType="java.util.List">
		insert into eais
		(MGM_BLDRGST_PK, BYLOT_CNT, SIGUNGU_CD, REGSTR_KIND_CD, JIGU_CD_NM, REGSTR_KIND_CD_NM, NA_ROAD_CD, NEW_PLAT_PLC, NA_UGRND_CD, REGSTR_GB_CD_NM, BUN, GUYUK_CD_NM, GUYUK_CD, NA_MAIN_BUN, REGSTR_GB_CD, BLD_NM, CRTN_DAY, NA_BJDONG_CD, SPLOT_NM, BLOCK, JIYUK_CD_NM, NA_SUB_BUN, JIYUK_CD, LOT, MGM_UPPER_BLDRGST_PK, JIGU_CD, BJDONG_CD, PLAT_GB_CD, PLAT_PLC, JI)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.MGM_BLDRGST_PK},#{item.BYLOT_CNT},#{item.SIGUNGU_CD},#{item.REGSTR_KIND_CD},#{item.JIGU_CD_NM},#{item.REGSTR_KIND_CD_NM},#{item.NA_ROAD_CD},#{item.NEW_PLAT_PLC},#{item.NA_UGRND_CD},#{item.REGSTR_GB_CD_NM},#{item.BUN},#{item.GUYUK_CD_NM},#{item.GUYUK_CD},#{item.NA_MAIN_BUN},#{item.REGSTR_GB_CD},#{item.BLD_NM},#{item.CRTN_DAY},#{item.NA_BJDONG_CD},#{item.SPLOT_NM},#{item.BLOCK},#{item.JIYUK_CD_NM},#{item.NA_SUB_BUN},#{item.JIYUK_CD},#{item.LOT},#{item.MGM_UPPER_BLDRGST_PK},#{item.JIGU_CD},#{item.BJDONG_CD},#{item.PLAT_GB_CD},#{item.PLAT_PLC},#{item.JI})
		</foreach>
	</insert>

	<select id="selectDataSet" resultType="DataVO">
		select * from eais
	</select>

	<select id="selectData" parameterType="string" resultType="DataVO">
		select * from eais where MGM_BLDRGST_PK = #{MGM_BLDRGST_PK}
	</select>

</mapper>